html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#glcanvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#info {
  position: absolute;
  left: 1em;
  top: 1em;
  color: white;
  font-size: 12px;
  font-family: 'Roboto',sans-serif;
}

#canvas {
  position: absolute;
  left: 100;
  top: 100;
  width: 1024;
  height: 1024;
}

.loader {
  --b: 40px;  /* border thickness */
  --n: 40;    /* number of dashes*/
  --g: 2deg; /* gap between dashes*/
  --c: rgb(122, 122, 122);   /* the color */
  width: 200px; /* size */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000,var(--c)) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,
       #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
          mask:
    repeating-conic-gradient(#0000 0deg,
       #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}

#loader_indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -100px 0 0 -100px;
}